---
import Timer from '../components/Timer';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Der des frères">
	<h1>Der des frères</h1>
	<Timer client:visible/>
</Layout>

<style>
	h1 {
		display: flexbox;
		text-align: center;
	}
</style>
