---
import Timer from '../components/Timer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Der des frères</h1>
	<body>
		<Timer/>
	</body>
</Layout>

<style>
	h1 {
		display: flexbox;
		text-align: center;
	}
</style>
