---
const alertTest: void = console.log('test');
---

<div  class="button-center">
    <button type="button" class="button-large" onclick="{alertTest}">
        Activate
    </button>
</div>

<style lang="sass">
    .button-center
        width: 100%
        display: flex
        justify-content: center

    .button-large
        font-size: 50px
</style>
