<div  class="button-center">
    <button type="button" class="button-large">
        Activate
    </button>
</div>

<style lang="sass">
    .button-center
        width: 100%
        display: flex
        justify-content: center

    .button-large
        font-size: 50px
</style>
