---
let time = () => {
    let currentDate = new Date();
    return currentDate.getHours() + ":" + currentDate.getMinutes() + ":" + currentDate.getSeconds();
}
---

<div class="time">
    Heure actuelle : {time}
</div>

<style>
    .time {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
